services:
  - type: web
    name: paint-calculator-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: ADMIN_CHAT_ID
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: RENDER
        value: true
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /
    autoDeploy: true
